{% extends "base.html" %}
{% block title %}Edit Event{% endblock %}
{% block content %}
    <div class="content-header pb-0">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h1 class="m-0">Edit Event</h1>
            <div>
                {% if perms.club_calendar.delete_event %}
                    <a href="{% url 'club_calendar:event_delete' object.pk %}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Details</h3>
                </div>
                <div class="card-body">{% include "calendar/_form.html" %}</div>
            </div>
        </div>
    </section>
{% endblock %}
