{% extends "base_auth.html" %}
{% block title %}Check your email{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="card card-outline card-success">
            <div class="card-header text-center">
                <span class="h1"><b>Redditch</b>HC</span>
            </div>
            <div class="card-body">
                <h5 class="text-success">Email sent</h5>
                <p>If an account exists for that address, you’ll receive a password reset link shortly.</p>
                <a href="{% url 'account_login' %}" class="btn btn-success btn-block">Back to Sign In</a>
            </div>
        </div>
    </div>
{% endblock %}
