{% extends "base_auth.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="card card-outline card-success">
            <div class="card-header text-center">
                <span class="h1"><b>Redditch</b>HC</span>
            </div>
            <div class="card-body">
                <h5 class="text-success">Password updated</h5>
                <a href="{% url 'account_login' %}" class="btn btn-success btn-block">Sign In</a>
            </div>
        </div>
    </div>
{% endblock %}
