[flake8]
max-line-length = 100
extend-ignore =
    E203,  # black-compatible slicing
    W503   # line break before binary operator
exclude =
    venv,
    .venv,
    .git,
    __pycache__,
    migrations
