# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Django stuff
*.log
*.pot
*.pyc
*.mo
db.sqlite3
db.sqlite3-journal

# Media & static (optional – if generated)
media/
staticfiles/

# Virtual environment
venv/
.env/
ENV/
.venv/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
