# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Django stuff
*.log
*.pot
*.pyc
*.mo

# DB / state
db.sqlite3
*/db.sqlite3
db.sqlite3-journal

# Media & static (optional – if generated)
media/
staticfiles/
documents/

# Virtual environment / Secrets & env
venv/
.env/
ENV/
.venv/
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/
*.swp
